header.header-wrapper
  div.header-wrapper-home
    ul
      li: a(href='/') truluci
  nav.header-wrapper-nav
    ul
      li: a(href='/about') About
      li: a(href='/projects') Projects
      li: a(href='/contact') Contact
