extends ../partials/head.pug

block content
  .header-wrapper
    a.header-wrapper-home(href='/') truluci
    li.header-wrapper-nav
      a(href='/projects') Projects
      a(href='/pictures') Pictures
      a(href='/about') About
      a(href='mailto:merits.septets_06@icloud.com') Contact
  block main
