.pictures-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--page-vertical-padding) var(--page-horizontal-padding);
    gap: var(--spacing);
    text-align: center;
}

.pictures-wrapper-header {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--text-color-highlight);
    text-transform: uppercase;
    text-shadow: 3px 3px var(--button-bg-color);
    margin-bottom: var(--spacing);
}

.pictures-wrapper-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--button-spacing);
    width: 100%;
    max-width: 800px;
}

.pictures-wrapper-image {
    display: block;
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
    border: 4px solid var(--button-bg-color);
    border-radius: var(--border-radius-sm);
    box-shadow: 4px 4px 0 var(--text-color);
    transition: transform 0.3s ease-in-out;
}

a::before,
a::after {
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease;
}

a::before {
    content: ">";
    opacity: 0;
    transition: opacity 0.3s ease;
}

a::after {
    content: "<";
    opacity: 0;
    transition: opacity 0.3s ease;
}

a:hover::before,
a:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .pictures-wrapper-header {
        font-size: var(--font-size-medium);
    }
    
    .pictures-wrapper-image {
        width: 90%;
    }
}
