doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title about
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap")
        link(rel='stylesheet', href='/css/about.css')
    body 
        include ./partials/header.pug
        div.about-me-wrapper
            h1.about-me-wrapper-about-header About
            p Hey, I'm a student in Turkey and a digital nomad wannabe, passionate about solving real-world problems with technology. Beyond coding, I’m fascinated by space, science, and photography. I also enjoy creating pixel art and playing instruments, which fuel my creativity and approach to problem-solving.
        include ./partials/footer.pug