doctype html
html
  head
    title truluci
    link(rel='stylesheet', href='/css/style.css')
  body

    h1 truluci
    nav
        ul
            li: a(href='/about') about
            li: a(href='/projects') projects
            li: a(href='/pictures') pictures
            li: a(href='/contact') contact
    p Student with an interest in software, technology, space, science and more.


    include ./partials/footer.pug
