* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--center-width);
    height: var(--center-height);
    background-color: rgb(18, 8, 29);
    color: rgb(225, 237, 248);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
}

.about-me-wrapper {
  width: 100%;
  max-width: 53rem;
  margin: 0 auto 13rem;
}

.about-me-wrapper h1 {
  padding: 1rem 0 3rem;
}

.about-me-wrapper-about-text {
  line-height: 35px;
}