:root {
  --center-width: 100vw;
  --center-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--center-width);
  height: var(--center-height);
  background-color: rgb(18, 8, 29);
  color: rgb(225, 237, 248);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 24px;
}

h1 {
  color: rgb(91, 108, 124);
}

nav {
  display: flex;
  justify-content: center;
  border-right: 1px solid rgb(91, 108, 124);
}

ul {
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 20px;
  padding: 5px;
  position: relative;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit; 
  display: block;
}

li {
  /* margin: 0 20px; */
  padding: 1rem 0 1rem 0;
  position: relative; 
}

a {
  display: inline-block;
  text-decoration: none; 
  text-align: center;
  color: inherit; 
  display: block; 
}

a::before,
a::after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
}

a::before {
  content: ">";
  /* position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%); */
  opacity: 0;
  transition: opacity 0.3s ease;
}

a::after {
  content: "<";
  /* position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%); */
  opacity: 0;
  transition: opacity 0.3s ease;
}

a:hover::before,
a:hover::after {
  opacity: 1;
}

p {
  color: rgb(91, 108, 124);
  padding-left: 10px;
}
