:root {
    --center-width: 100vw; /* Full viewport width */
    --center-height: 100vh; /* Full viewport height */
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: var(--center-width);
    height: var(--center-height);
    background-color: rgb(18, 8, 29);
    color: rgb(225, 237, 248);
    font-size: 28px;
  }

  h1 {
    color: rgb(91, 108, 124);
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centers the ul horizontally in the nav */
  }
  
  ul {
    list-style: none; /* Removes the bullet points */
    justify-content: center; /* Centers the li items */
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 0 20px; /* Adds space between list items */
    padding: 5px;
  }

  a {
    text-decoration: none; /* Removes the underline from links */
    text-align: center;
    color: inherit; /* Inherits the text color from the parent element */
    display: block; /* Makes the entire list item clickable */
  }

  li:hover {
    background-color: rgb(59, 70, 80);
    opacity: 0.8;
    border-radius: 10px;
  }
  
  p {
    color: rgb(91, 108, 124);
  }