extends ../partials/head.pug

block content
  div.main-wrapper
    h1 truluci
    nav.main-wrapper-nav
      ul.main-wrapper-nav-list
        li: a(href='/projects') projects
        li: a(href='/pictures') pictures
        li: a(href='/about') about
        li: a(href='mailto:merits.septets_06@icloud.com') contact
    p.main-wrapper-info Student with an interest in software, technology, space, science and more.
