extends ../partials/header.pug
block main
  div.about-me-wrapper
    h1.about-me-wrapper-about-header About
    p.about-me-wrapper-about-text Hey, I'm a student in Turkey and a digital nomad wannabe, passionate about solving real life problems with technology. Beyond coding, I’m fascinated by space, science, and photography. I also enjoy creating pixel art and playing instruments.
    div.about-me-wrapper-links-wrapper
      h2 Links
      div.about-me-wrapper-links
        a(href='https://github.com/truluci') GitHub
        a(href='https://www.linkedin.com/in/mevlutyilmaz397/') LinkedIn