extends ../partials/header.pug

block main
  div.projects-wrapper
    h1.projects-wrapper-header Projects
    div.projects-wrapper-projects
      div.projects-wrapper-project
        img.projects-wrapper-project-image(src="../images/cat.jpeg", alt="cat image")
        h2.projects-wrapper-project-header Project 1
        p.projects-wrapper-project-text This is a project about something.
        a(href='example.com') Example
