extends ../partials/header.pug

block main
  div.pictures-wrapper
    h1.pictures-wrapper-header Pictures
    div.pictures-wrapper-images
      img.pictures-wrapper-image(src="../images/lego.jpg", alt="lego image")
