:root {
  --navbar-padding: 1.5rem;
  --navbar-button-spacing: 1.5rem;
  --navbar-buttons-border-radius: 0px;
  --navbar-button-width: 7rem;
  --navbar-button-height: 3rem;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--page-horizontal-padding);
  min-width: 100%;
  font-size: var(--font-size-small);
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--navbar-button-height) + 2 * var(--navbar-padding));
  min-height: calc(var(--navbar-button-height) + 2 * var(--navbar-padding));
  padding: var(--page-vertical-padding) var(--page-horizontal-padding);
  z-index: 1000;
}

.header-wrapper-home {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  width: fit-content;
  height: var(--navbar-button-height);
  min-width: fit-content;
  min-height: var(--navbar-button-height);
  text-align: center;
  align-content: center;
  align-self: center;
}

.header-wrapper-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: var(--page-horizontal-padding);
}

.header-wrapper-nav a {
  color: var(--text-color);
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-medium);
  text-decoration: none;
  width: fit-content;
  align-content: center;
  align-self: center;
  text-align: center;
  height: var(--navbar-button-height);
  min-width: var(--navbar-button-width);
  min-height: var(--navbar-button-height);
}